@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600|Roboto Mono");

/* Made with love by Mutiullah Samim*/

@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

#container{
    background-image: url('src/assets/background1.jpg');
    height: 100%;
    background-size: cover;
background-repeat: no-repeat;
}

.card{
height: 450px;
margin-top: auto;
margin-bottom: auto;
width: 600px;
background-color: white !important;
}

.labels {
    font-size: 16px;
    color: rgb(77, 77, 77);
    margin-right: 16px;
  }
  
  .labels:hover {
    cursor: pointer;
  }

.card-header h1{
color: black;
text-align: center;
font-size: 36px;
font-weight: 900;
margin-top: 10px;
}

/* .social_icon{
position: absolute;
right: 20px;
top: -45px;
} */

.input-group-prepend span{
width: 50px;
margin-top: 20px;
background-color: white;
color: rgb(54, 212, 67);
border-top:0 !important;
border-right:0 !important;
border-left:0 !important;
border-bottom: 1px solid black;
}

.userinput{
    margin-top: 20px;
    border-bottom: 1px solid black;
    border-top:0 !important;
    border-right:0 !important;
    border-left:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.logo{
    height: 90px;
    width: 270px;
}

.login_btn{
color: black;
background-color: rgb(54, 212, 67);
margin-top: 30px;
/* width: 100px; */
}

.login_btn:hover{
color: white;
background-color: black;
}

.login_btn:disabled,
.login_btn[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

.login-box, .register-box {
    width: 360px;
    margin: 7% auto;
}.login-page, .register-page {
    background: #d2d6de;
}

.login-logo, .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}.login-box-msg, .register-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}.login-box-body, .register-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}.has-feedback {
    position: relative;
}
.form-group {
    margin-bottom: 15px;
}.has-feedback .form-control {
    padding-right: 42.5px;
}.login-box-body .form-control-feedback, .register-box-body .form-control-feedback {
    color: #777;
}
.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.register {
    color: black;
    font-size: 16px;
}

  
.labels {
    font-size: 16px;
    color: rgb(77, 77, 77);
    /* margin-right: 16px; */
}
  
.labels:hover {
cursor: pointer;
}

.register:hover {
    color: rgb(54, 212, 67);
    cursor: pointer;
}

.referenceLogo{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    border: 1px solid rgb(180, 180, 180);
}

.referenceLogo:hover{
    cursor: pointer;
}

.forgotPassword{
    color: black;
}

.forgotPassword:hover{
    cursor: pointer;
    color: rgb(54, 212, 67);
}

.alert1 {
    font-size: 12px;
    color: red;
    /* margin-left: 25px; */
}