<div id="container">
    <div>
        <h1 style="text-align: center;color: white; font-weight: 400; font-size: 42px;padding-top: 30px;">Create Quick
            Meeting</h1>
        <h1 style="text-align: center;color: white; font-weight: 300; font-size: 28px;padding: 1px;">Follow step by step
            wizard to create new meeting</h1>
    </div>
    <div class="card">
        <div class="cardActionItem" >
            <div class="card-title">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-11">
                                <div class="ribbon ribbon-1" id="ribbonA">
                                    <i class="fas fa-box" style="font-size: 46px; margin-top: 6px;"></i>
                                </div>
                                <h2 style="padding: 25px;font-size: 36px; color: teal; font-weight: 400; margin-left: 10px;"
                                    id="headerA">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                Meeting Subject
                                            </td>
                                           
                                            <td>
                                                <mat-icon *ngIf="!collapsedA" (click)="openExapnsion('A')" style="font-size: 40px;">chevron_right
                                                </mat-icon>
                                                <mat-icon *ngIf="collapsedA" (click)="openExapnsion('A')" style="font-size: 40px;">expand_more
                                                </mat-icon>
                                            </td>
                                            
                                        </tr>
                                    </table>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="collapsedA">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-md-6 col-sm-6">
                                <div style="padding:25px;margin-left: 10px;">
                                    <label style="font-size: 16px">Project Name</label><br>
                                    <input class="form-control" type="text" name="project_Name" [(ngModel)]="meeting.project_Name" placeholder="Enter The project Name"
                                        style="color: rgb(110, 109, 109); height: 50px; border-radius: 10px;">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div style="padding:25px;margin-left: 10px;">
                                    <label style="font-size: 16px">Subject For Meeting</label><br>
                                    <input class="form-control" type="text" name="Meeting_Subject" [(ngModel)]="meeting.Meeting_Subject" placeholder="Enter The subject"
                                        style="color: rgb(110, 109, 109); height: 50px; border-radius: 10px;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <!-- <div style="padding:25px;margin-left: 10px;">
                                    <label style="font-size: 16px">Meeting Location</label><br>
                                    <input class="form-control" type="text" name="Meeting_Location" [(ngModel)]="meeting.Meeting_Location" placeholder="Enter The Meeting Location">
                                </div> -->

                                <div class="input-group form-group" style="padding:25px;margin-left: 10px; margin-right: 10px;">
                                    
                                    <textarea class="form-control" rows="3" name="Meeting_objective" [(ngModel)]="meeting.Meeting_objective" placeholder="Project Description"></textarea>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- second -->
        <div class="cardActionItem" >

            <div class="card-title">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-11">
                                <div class="ribbon ribbon-1" style="padding: 10px 25px;" id="ribbonB">
                                    <i class="fas fa-lightbulb" style="font-size: 46px; margin-top: 6px;"></i>
                                </div>
                                <h2 style="padding:25px;font-size: 36px; color: teal; font-weight: 400; margin-left: 10px;"
                                    id="headerB">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                Meeting Agenda
                                            </td>
                                            <!-- <div style="text-align: right;"> -->
                                            <td>
                                                <mat-icon *ngIf="!collapsedB" (click)="openExapnsion('B')" style="font-size: 40px;">chevron_right
                                                </mat-icon>
                                                <mat-icon *ngIf="collapsedB" (click)="openExapnsion('B')" style="font-size: 40px;">expand_more
                                                </mat-icon>
                                            </td>
                                            <!-- </div> -->
                                        </tr>
                                    </table>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="collapsedB">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-12">
                                <div class="input-group form-group" style="padding:25px;margin-left: 10px; margin-right: 10px;">
                                    <!-- <label style="font-size: 16px">Add Agenda Description</label><br> -->
                                    <textarea class="form-control" rows="3" name="Agenda" [(ngModel)]="meeting.Agenda" placeholder="Add Meeting Agenda"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- third -->
        <div class="cardActionItem" >

            <div class="card-title">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-11">
                                <div class="ribbon ribbon-1" id="ribbonC">
                                    <i class="fas fa-external-link-alt" style="font-size: 46px; margin-top: 6px;"></i>
                                </div>
                                <h2 style="padding:25px;font-size: 36px; color: teal; font-weight: 400; margin-left: 10px;"
                                    id="headerC">
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                Add Participants
                                            </td>
                                            <!-- <div style="text-align: right;"> -->
                                            <td>
                                                <mat-icon *ngIf="!collapsedC" (click)="openExapnsion('C')" style="font-size: 40px;">chevron_right
                                                </mat-icon>
                                                <mat-icon *ngIf="collapsedC" (click)="openExapnsion('C')" style="font-size: 40px;">expand_more
                                                </mat-icon>
                                            </td>
                                            <!-- </div> -->
                                        </tr>
                                    </table>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" *ngIf="collapsedC">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-12">
                                <div style="padding: 20px 0px; text-align: center;">
                                    <a style="color: rgb(168, 168, 168); font-size: 18px;">Add users by searching for their
                                        name</a>
                                    <div
                                        style="width: 100%;min-height: 150px; height: auto; border: 1px solid rgb(156, 156, 156); margin-top: 20px; border-radius: 10px;">
                                        <div class="row">
                                            <div *ngFor="let contact of displayName" class="contactList">
                                                {{contact.FirstName}} {{contact.LastName}}
                                                <i class="fa fa-times" (click)="onCancelUser(contact, contact.Email)" style="font-size: 18px; float: right;"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="padding: 20px 0px">
                                    <a style="color: rgb(168, 168, 168); font-size: 18px;">Add Users : </a>
                                    <input type="text" placeholder="Pick one" aria-label="Number" matInput
                                        class="form-control" style="max-width: 400px;"
                                        [matAutocomplete]="auto">
                                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)='getPosts($event.option.value)'>
                                        <mat-option *ngFor="let option of options" [value]="option.Email">
                                            {{option.FirstName}} {{option.LastName}}
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="showMessage">
        <a class="alert1">Please fill up the {{field}}</a>
                   </div>
                        <div class="float-right" style="margin-bottom: 30px">
                            <button mat-raised-button color="warn" style="height: 40px;" (click)="submitMeeting(meeting)">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>