<div id="container" style="padding-top: 50px;" *ngIf="deviceDetector(); else mobileView">
    <div class="card" *ngIf="dataLoaded; else loading" style="padding: 20px 40px;">
        <div class="cardActionItem">
            <div class="card-title">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12 order-2 order-md-1">

                        <div class="row">
                            <div class="col-9">
                                <!-- <div class="ribbon ribbon-3">
                                    <b style="font-size: 16px; margin-top: 10px;">
                                        In Progress</b>
                                </div> -->
                                <div class="ribbon ribbon-3" style="background: #21759a;"
                                    *ngIf="actionItem.Status === 1; else Overdue"
                                    (click)="updateAction(actionItem.Status, 'Status')">
                                    <!-- <b style="font-size: 16px; margin-top: 10px;">
                                        {{actionItem.Status === 0 ? 'In Progress' : 'Overdue'}}</b> -->
                                    <b style="font-size: 16px; margin-top: 10px;">In Progress</b>
                                </div>
                                <ng-template #Overdue>
                                    <ng-container *ngIf="actionItem.Status === 0; else Complete">
                                        <div class="ribbon ribbon-3" style="background: #e74c3c; padding: 8px 30px;"
                                            (click)="updateAction(actionItem.Status, 'Status')">
                                            <!-- <b style="font-size: 16px; margin-top: 10px;">
                                            {{actionItem.Status === 0 ? 'In Progress' : 'Overdue'}}</b> -->
                                            <b style="font-size: 16px; margin-top: 10px;">Overdue</b>
                                        </div>
                                    </ng-container>
                                </ng-template>
                                <ng-template #Complete>
                                    <div class="ribbon ribbon-3"
                                        style="background: #2bc440; padding: 8px 28px; color: white;"
                                        (click)="updateAction(actionItem.Status, 'Status')">
                                        <!-- <b style="font-size: 16px; margin-top: 10px;">
                                            {{actionItem.Status === 0 ? 'In Progress' : 'Overdue'}}</b> -->
                                        <b style="font-size: 16px; margin-top: 10px;">Complete</b>
                                    </div>
                                </ng-template>
                                <table class="meetingMain">
                                    <tr>
                                        <td class="meetingLabel" style="font-size: 24px;width: 100%;">
                                            {{actionItem.Action_Description}}</td>
                                    </tr>
                                </table>
                                <table class="meetingMain">
                                    <tr>
                                        <td class="meetingLabel"> Meeting :</td>
                                        <td class="meetingContent" style="color: rgb(47, 68, 45);">
                                            <ejs-inplaceeditor id="element" style="font-weight: 700; font-size: large;"
                                                type="Text" data-underline="false"
                                                value="{{actionItem.ActionItem_Title}}"
                                                (actionSuccess)="updateAction($event.value, 'ActionItem_Title')">
                                            </ejs-inplaceeditor>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="meetingLabel">Project :</td>
                                        <td class="meetingContent" style="color: rgb(47, 68, 45);">
                                            <ejs-inplaceeditor id="element" style="font-weight: 700; font-size: large;"
                                                type="Text" data-underline="false" value="{{actionItem.project_Name}}"
                                                (actionSuccess)="updateAction($event.value, 'project_Name')">
                                            </ejs-inplaceeditor>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="meetingLabel">Objective :</td>
                                        <td class="meetingContent">
                                            <div *ngIf='!editMode' (click)='editMode=true' style="margin-left: 6px;">
                                                {{actionItem.Action_Description}} <i class="fas fa-pencil-alt"
                                                    style="color: rgb(211, 211, 211); margin-left: 10px;"></i></div>
                                            <textarea *ngIf='editMode' (focusout)="onFocusOut()"
                                                style="width: 600px; height: 60px;"
                                                (keydown.enter)='$event.target.blur()'
                                                [(ngModel)]='actionItem.Action_Description' class='cellInput'
                                                appAutofocus type='text' (keydown.enter)='$event.target.blur()'
                                                (focusout)="editMode=false"></textarea>
                                        </td>
                                    </tr>
                                    <!-- <tr>
                                        <td class="meetingLabel">Due Date :</td>
                                        <td class="meetingContent">{{actionItem.ActionDate | date : 'mediumDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td class="meetingLabel">Created :</td>
                                        <td class="meetingContent">{{actionItem.ActionTime | date : 'medium'}}</td>
                                    </tr> -->
                                </table>

                                <div class="row" style="margin-top: 20px;">
                                    <div class="col-5">
                                        <table class="meetingMain">
                                            <tr>
                                                <td style="font-size: 16px;color: grey;">
                                                    Created :
                                                </td>
                                                <td style="font-size: 16px;color: rgb(66, 66, 66);">
                                                    {{actionItem.ActionTime | date : 'medium'}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- <div class="col-4">
                                        <table>
                                            <tr>
                                                <td style="font-size: 16px;color: grey;">
                                                    Last Recieved :
                                                </td>
                                                <td style="font-size: 16px;color: rgb(66, 66, 66);">
                                                    3 Hours Ago
                                                </td>
                                            </tr>
                                        </table>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-3">
                                <table>
                                    <td class="meetingLabel">
                                        <img style="height: 60px; width: 60px;margin-top: 15px;"
                                            src="../../../assets/facebook.png">
                                    </td>
                                    <td style="text-align: start;">
                                        <a style="font-size: 1vw;">Assignee</a><br>
                                        <a style="font-size: 0.8vw;">{{actionItem.ActionAssignedTo}}</a>
                                    </td>
                                </table>
                                <div style="margin-top: 10px;">
                                    <a style="font-size: 16px; color: grey;">Priority :</a>
                                    <button *ngIf="redLoad"
                                        style="margin-left: 10px; width: 120px; font-size: 18px; padding: 10px; border-radius: 50px; background: rgb(231, 25, 25); color: white; font-weight: 600;"
                                        color="warn"
                                        (click)="onPriority(actionItem.ActionItemID ,actionItem.Priority)">{{actionItem.Priority}}</button>
                                    <button *ngIf="orangeLoad"
                                        style="margin-left: 10px; width: 120px; font-size: 18px; padding: 10px; border-radius: 50px; background: rgb(250, 96, 40); color: white; font-weight: 600;"
                                        color="warn"
                                        (click)="onPriority(actionItem.ActionItemID ,actionItem.Priority)">{{actionItem.Priority}}</button>
                                    <button *ngIf="yellowLoad"
                                        style="margin-left: 10px; width: 120px; font-size: 18px; padding: 10px; border-radius: 50px; background: rgb(241, 160, 38); color: black; font-weight: 600;"
                                        color="warn"
                                        (click)="onPriority(actionItem.ActionItemID ,actionItem.Priority)">{{actionItem.Priority}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="commentSection" *ngIf="dataLoaded">
                    <div style="margin-top: 20px;" *ngFor="let comment of allComments">
                        <div *ngIf="comment.ActionID == urlID">
                            <!-- <img class="commentImage" style="float: left;" src="../../../assets/avatar1.png"> -->
                            <img class="commentImage" [src]="imageToShow"
                                                style="float: left; width: 45px; height: 45px;" alt="Place image title"
                                                *ngIf="!isImageLoading; else noImageFound">
                                            <ng-template #noImageFound>
                                                <img class="commentImage" src="../../../assets/avatar1.png"
                                                    style="float: left; width: 45px; height: 45px;" title="dummy"
                                                    alt="Fallbackimage">
                                            </ng-template>
                            <div class="comment">
                                <ejs-inplaceeditor id="element" style="font-weight: 700; font-size: large;" width="auto"
                                    type="Text" mode="Inline" data-underline="false" value="{{comment.Comment1}}"
                                    (actionSuccess)="editComment($event.value, comment.CommentID)">
                                </ejs-inplaceeditor>
                                &nbsp;<span>
                                    <a class="fas fa-trash" (click)="deleteComment(comment.CommentID)"
                                        id="rightIcon"></a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <div style="margin-top:30px; margin-left: 2%;">
                    <!-- <img class="commentImage" style="float: left; width: 45px; height: 45px;"
                        src="../../../assets/avatar1.png"> -->
                        <img class="commentImage" [src]="imageToShow"
                                                style="float: left; width: 45px; height: 45px;" alt="Place image title"
                                                *ngIf="!isImageLoading; else noImageFound">
                                            <ng-template #noImageFound>
                                                <img class="commentImage" src="../../../assets/avatar1.png"
                                                    style="float: left; width: 45px; height: 45px;" title="dummy"
                                                    alt="Fallbackimage">
                                            </ng-template>
                    <div class="form-group green-border-focus" style="margin-left: 4%;margin-right: 2%;">
                        <textarea class="form-control" id="exampleFormControlTextarea5" rows="1"
                            placeholder="Add your comment Here" #commentArea></textarea>
                    </div>

                    <button mat-raised-button (click)="postComment()" style="margin-left: 4%; margin-right: 2%;height: 50px;" color="warn">Post
                        Your comment</button>
                </div>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <img src="../../../assets/giphy.gif" style="padding: 10% 30%;">
        <!-- <a href="https://media.giphy.com/media/W2K6R2Ec4Hy4o/giphy.gif" style="width: 100px; height: 100px; padding: 30%;"></a> -->
    </ng-template>
</div>

<ng-template #mobileView>
    <div id="container" *ngIf="dataLoaded">
        <br>
        <!-- <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px"> -->
        <mat-card style="margin: 0px 10px 10px 10px;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image" *ngIf="actionItem.Status === 1; else Overdue" (click)="updateAction(actionItem.Status, 'Status')"><img
                        style="width: 40px;" src="../../../assets/in_prgress.jpg"></div>
                <ng-template #Overdue>
                    <div mat-card-avatar class="example-header-image" *ngIf="actionItem.Status === 0; else Completed" (click)="updateAction(actionItem.Status, 'Status')"><img
                            style="width: 40px;" src="../../../assets/overdue.jpg"></div>
                </ng-template>
                <ng-template #Completed>
                    <div mat-card-avatar class="example-header-image" *ngIf="actionItem.Status === 2" (click)="updateAction(actionItem.Status, 'Status')"><img
                            style="width: 40px;" src="../../../assets/Completed.jpg"></div>
                </ng-template>
                <mat-card-title>{{actionItem.ActionItem_Title}}</mat-card-title>
                <mat-card-subtitle>{{actionItem.project_Name}}</mat-card-subtitle>
            </mat-card-header>
            <!-- <img mat-card-image [src]="member.url" alt="Photo of {{member.title}}"> -->
            <!-- {{meeting.Meeting_objective}} -->
            <mat-card-content>
                <p class="text-oneline">
                    <b>Action ID : </b> VS-{{actionItem.MeetingID}}
                </p>
                <p class="text-oneline">
                    <b>Due Date : </b> {{actionItem.ActionDate | date : 'mediumDate'}}
                </p>
                <p>
                    <b>Objective : </b>{{actionItem.Action_Description}}
                </p>
                <!-- <p>
                    <b>Topic/Chapter : </b>{{meeting.Agenda}}
                </p> -->

            </mat-card-content>
        </mat-card>

        <mat-card style="margin: 0px 10px 10px 10px;">
            <mat-card-content>
                <div class="tab-pane fade show active">
                    <mat-expansion-panel style="margin-left: 2%; margin-right: 2%; margin-top: 20px;">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <h3 class="header" style="margin-left: 1px;">Comment(if Any)</h3>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div *ngFor="let comment of allComments">
                            <mat-card *ngIf="comment.ActionID == urlID">
                                <div>
                                    <mat-card-header>
                                        <div mat-card-avatar class="example-header-image"><img style="width: 40px;"
                                                src="../../../assets/avatar1.png">
                                        </div>
                                        <mat-card-title>
                                            <ejs-inplaceeditor id="element" style="font-weight: 700; font-size: large;"
                                                width="auto" type="Text" mode="Inline" data-underline="false"
                                                value="{{comment.Comment1}}"
                                                (actionSuccess)="editComment($event.value, comment.CommentID)">
                                            </ejs-inplaceeditor>
                                        </mat-card-title>
                                    </mat-card-header>
                                </div>
                            </mat-card>
                        </div>

                    </mat-expansion-panel>

                    <div style="margin-top:30px; margin-left: 2%;">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Add Your Comment Here"
                                aria-describedby="basic-addon2" #commentArea>
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2" (click)="postComment()">Send</span>
                            </div>
                        </div>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
        <!-- </div> -->

    </div>
</ng-template>