<div id="container">
    <div style="background-color: white;">
        <div class="login-logo" style="margin-top: 15px;">
            <a><img class="logo" src="../../../assets/newLogo.png" alt="My Ad Cubes"></a>
        </div>
        <mat-divider></mat-divider>
    </div>
    <mat-divider></mat-divider>
    <div class="login-box">
        <!-- /.login-logo -->
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header" style="background-color: white;">
                    <h1>Forgot Password</h1>
                </div>
                <br>
                <div class="card-body">
                    <form #forgotPassForm="ngForm" (ngSubmit)="onSubmit(forgotPassForm)">
                        <label for="emailID" style="font-size: 16px;"> <b> Email</b></label>
                        <input type="text" name="Email" placeholder="Please Enter Your Email" class="form-control" #Email="ngModel"
                            [(ngModel)]="emailText" required/>
                            <div *ngIf="Email.invalid && (Email.dirty || Email.touched)" class="alert1 float-left">
                                <div *ngIf="Email.errors.required" class="alert1">Email Id is required</div>
                            </div>
                            <!-- <input type="text" name="toemail" placeholder="Please Enter Your Email" class="form-control"
                            [(ngModel)]="email.toemail" required/> -->
                        <br>
                        <label for="userName" style="font-size: 16px;"> <b>Username</b></label>
                        <input type="text" name="LoginName" placeholder="Please Enter Your Username" #LoginName="ngModel"
                            class="form-control"   [(ngModel)]="usernameText" required />
                            
                            <div *ngIf="LoginName.invalid && (LoginName.dirty || LoginName.touched)" class="alert1 float-left">
                                <div *ngIf="LoginName.errors.required" class="alert1">Username is required</div>
                            </div>
                      
                        <br>
                        <br>
                        <div class="d-flex justify-content-center links">
                            <input type="submit" style="width: 200px; align-items: center;" name=""
                                class="btn btn-success"  style="background-color:  rgb(33,117,154);" value="Send Reset Link">
                        </div>
                    </form>
                 </div>
                <div class="card-footer" style="background-color: white;">
                    <div class="d-flex justify-content-center links">
                        <p style="color: black; font-size: 16px; ">Back to &nbsp; <span>
                                <input type="submit" name="" class="btn btn-success"  style="background-color:  rgb(33,117,154);"  routerLink="/login" value="Login">
                              
                                <!-- routerLink="/reset-password" -->
                            </span>

                        </p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>