<div id="container">
        <div id="meet" style="height: 780px;">
            <!-- <img src="../../../assets/checkbox_logo.png" class="logo"> -->
        </div>
        <!-- <button (click)="Hangup()">Hangup</button> -->
</div>

<div id="id04" class="modal" style="width: 100%;">
    <form #fileList="ngForm" class="modal-content-assign animate" style="width: 30% ;justify-content: center">
        <div class="imgcontainer">
            <div class="card" style="border-radius: 20px;">
                <div class="card-header" style="text-align: center;">
                    <!-- <img src="../../../assets/checkbox_logo.png" style="width: 30%;min-width: 100px;"> -->
                </div>
                <div class="card-body" style="text-align: center;">
                    <h1 class="card-title"><b>The call has been ended!!</b></h1>
                    <p>Thank You!!</p> <br >
                    <p>Meeting Minutes by Checkbox</p>
                </div>
                <div class="card-footer" style="text-align: center;">
                    <button mat-raised-button type="button" color="primary" (click)="callEnd()">
                        Okay</button>
                    <!-- <button mat-raised-button type="submit" color="primary"> Re-Schedule</button> -->
                </div>
            </div>
        </div>
    </form>
</div>