<div id="container">
    <div style="background-color: white;">
        <div class="login-logo" style="margin-top: 15px;">
            <a><img class="logo" src="../../../assets/newLogo.png" alt="My Ad Cubes"></a>
        </div>
        <mat-divider></mat-divider>
    </div>
    <mat-divider></mat-divider>
    <div class="login-box">

        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header" style="background-color: white;">
                    <h1>Reset Password</h1>
                </div>
                <br>
                <div class="card-body">
                    <form #newEmailForm="ngForm" (ngSubmit)="onSubmit(newEmailForm)">
                        <label for="emailID" style="font-size: 16px;"> <b>Enter Username</b></label>
                        <input type="text" name="LoginName" placeholder="Username" class="form-control"
                            #LoginName="ngModel" [(ngModel)]="usernameText" required/>
                            <div *ngIf="LoginName.invalid && (LoginName.dirty || LoginName.touched)" class="alert1 float-left">
                                <div *ngIf="LoginName.errors.required" class="alert1">Username is required</div>
                            </div>
                        <br>

                        <label for="emailID" style="font-size: 16px;"> <b>Enter New Password</b></label>
                        <input type="password" name="password"  class="form-control" #formControl="ngModel" 
                            [(ngModel)]="passwordText" placeholder="New Password" password 
                            [repeatCharacter]="2"
                            [alphabeticalCharacter]="2"
                            [digitCharacter]="1"
                            [lowercaseCharacter]="2"
                            [uppercaseCharacter]="1" required minlength="7"/>
                            <div *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)" class="alert1 float-left">
                                <div *ngIf="formControl.errors.required" class="alert1">Password is required</div>
                                <div *ngIf="formControl.errors.minlength">Password should contain atleast 7 characters</div>
                                    <div *ngIf="formControl.hasError('repeatCharacterRegexRule')" class="alert1">
                                    Password contains repeating characters</div>
                                    <div *ngIf="formControl.hasError('digitCharacterRule')" class="alert1">
                                    Password should contain atleast one digit</div>
                                    <div *ngIf="formControl.hasError('alphabeticalCharacterRule')" class="alert1">
                                    Password should contain atleast on alphabetical character</div>
                                    <div *ngIf="formControl.hasError('specialCharacterRule')" class="alert1">
                                        Password should contain atleast one specialCharacter character</div>
    
                                    <div *ngIf="formControl.hasError('lowercaseCharacterRule')" class="alert1">
                                    Password should contain atleast one lowercase character</div>
                                    <div *ngIf="formControl.hasError('uppercaseCharacterRule')" class="alert1">
                                    Password should contain atleast one uppercase character</div>    
                            </div>
                            

                        <br>
                        <label for="emailID" style="font-size: 16px;"> <b>Enter New Password Again</b></label>
                        <input type="password" name="confermPassword" placeholder="Conform Password" #formControl="ngModel" 
                            class="form-control" [(ngModel)]="verifiedPasswordText" required />
                            <div *ngIf="formControl.invalid && (formControl.dirty || formControl.touched)" class="alert1 float-left">
                                <div *ngIf="formControl.errors.required" class="alert1">ConfermPassword is required</div>
                            </div>

                        <br>
                        <br>

                        <mat-divider></mat-divider>
                        <br>
                        <div class="d-flex justify-content-center links">
                            <input type="submit" name="" class="btn btn-success" value="Submit">
                        </div>
                    </form>
                </div>


              
            </div>
        </div>
    </div>
</div>
